<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Make a difference</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>This website was created</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Make a difference</h4>
                </div>
                <div class="timeline-body">
                    <p>MAD recruitments were held</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Make a difference</h4>
                </div>
                <div class="timeline-body">
                    <p>Around 40% of children in India are in urgent need of childcare and protection</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Make a difference</h4>
                </div>
                <div class="timeline-body">
                    <p>Some other part of MAD history.</p>
                </div>
            </div>
        </li>
       
       
        <li>
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Make a difference</h4>
                </div>
                <div class="timeline-body">
                    <p>Mad rocks!</p>
                </div>
            </div>
        </li>
    </ul>
</div>
